USE [master]
GO
/****** Object:  Database [ATS_Lopatkin]    Script Date: 19.11.2024 13:00:58 ******/
CREATE DATABASE [ATS_Lopatkin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATS_Lopatkin', FILENAME = N'E:\Programms\sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\ATS_Lopatkin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATS_Lopatkin_log', FILENAME = N'E:\Programms\sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\ATS_Lopatkin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATS_Lopatkin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATS_Lopatkin]
GO
/****** Object:  Table [dbo].[ATS]    Script Date: 19.11.2024 13:00:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS](
	[ID_ATS] [int] NOT NULL,
	[Название_АТС] [nvarchar](255) NOT NULL,
	[Вид] [nvarchar](50) NOT NULL,
	[Адрес] [nvarchar](255) NOT NULL,
	[Город] [nvarchar](100) NOT NULL,
	[Количество_абонентов] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ATS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Абоненты]    Script Date: 19.11.2024 13:00:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Абоненты](
	[ID_абонента] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](100) NOT NULL,
	[Имя] [nvarchar](100) NOT NULL,
	[Отчество] [nvarchar](100) NOT NULL,
	[Вид_телефона] [nvarchar](50) NOT NULL,
	[Номер_телефона] [nvarchar](20) NOT NULL,
	[Межгород] [nvarchar](50) NULL,
	[Льгота] [nvarchar](50) NULL,
	[Индекс_дома] [nvarchar](10) NULL,
	[Район] [nvarchar](100) NOT NULL,
	[Улица] [nvarchar](100) NOT NULL,
	[Дом] [nvarchar](20) NOT NULL,
	[Квартира] [nvarchar](50) NULL,
	[ID_ATS] [int] NOT NULL,
	[Logo] [nvarchar](50) NULL,
	[End_contract] [date] NULL,
 CONSTRAINT [PK__Абоненты__3BDCDFA0AEE52926] PRIMARY KEY CLUSTERED 
(
	[ID_абонента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ведомость_абонентской_платы]    Script Date: 19.11.2024 13:00:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ведомость_абонентской_платы](
	[ID_платы] [int] NOT NULL,
	[ID_абонента] [int] NOT NULL,
	[Месяц] [nvarchar](50) NOT NULL,
	[Год] [int] NOT NULL,
	[Количество_минут_на_городские] [int] NULL,
	[Количество_минут_на_межгород] [int] NULL,
	[Стоимость] [decimal](10, 2) NOT NULL,
	[Сумма_льготы] [decimal](10, 2) NULL,
	[Общая_стоимость]  AS ([стоимость]+[Сумма_льготы]),
 CONSTRAINT [PK__Ведомост__E5FBA7EAE3F9A965] PRIMARY KEY CLUSTERED 
(
	[ID_платы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ведомость_звонков]    Script Date: 19.11.2024 13:00:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ведомость_звонков](
	[ID_звонка] [int] NOT NULL,
	[ID_абонента] [int] NOT NULL,
	[Дата_звонка] [date] NOT NULL,
	[Время_начала] [time](7) NOT NULL,
	[Время_окончания] [time](7) NOT NULL,
	[Межгород] [nvarchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_звонка] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Прайс_АТС]    Script Date: 19.11.2024 13:00:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Прайс_АТС](
	[ID_прайса] [int] NOT NULL,
	[ID_ATS] [int] NOT NULL,
	[Цена_на_городские] [decimal](10, 2) NOT NULL,
	[Цена_на_межгород] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_прайса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ATS] ([ID_ATS], [Название_АТС], [Вид], [Адрес], [Город], [Количество_абонентов]) VALUES (1, N'АТС 1', N'Городские', N'ул. Ленина, д. 1', N'Москва', 500)
INSERT [dbo].[ATS] ([ID_ATS], [Название_АТС], [Вид], [Адрес], [Город], [Количество_абонентов]) VALUES (2, N'АТС 2', N'Ведомственные', N'пр. Победы, д. 10', N'Санкт-Петербург', 300)
INSERT [dbo].[ATS] ([ID_ATS], [Название_АТС], [Вид], [Адрес], [Город], [Количество_абонентов]) VALUES (3, N'АТС 3', N'Учрежденческие', N'пл. Революции, д. 5', N'Екатеринбург', 200)
GO
SET IDENTITY_INSERT [dbo].[Абоненты] ON 

INSERT [dbo].[Абоненты] ([ID_абонента], [Фамилия], [Имя], [Отчество], [Вид_телефона], [Номер_телефона], [Межгород], [Льгота], [Индекс_дома], [Район], [Улица], [Дом], [Квартира], [ID_ATS], [Logo], [End_contract]) VALUES (1, N'Иванов', N'Петр', N'Сергеевич', N'Основной', N'+89999999999', N'Закрыт', N'Да', N'123456', N'Центральный', N'Пушкина', N'112', N'5', 1, N'Res/jtsukp_jutskp_tsukep.jpg', CAST(N'2025-05-01' AS Date))
INSERT [dbo].[Абоненты] ([ID_абонента], [Фамилия], [Имя], [Отчество], [Вид_телефона], [Номер_телефона], [Межгород], [Льгота], [Индекс_дома], [Район], [Улица], [Дом], [Квартира], [ID_ATS], [Logo], [End_contract]) VALUES (2, N'Петрова', N'Марина', N'Ивановна', N'Параллельный', N'+79012345678', N'Открыт', N'Нет', N'654321', N'Западный', N'Ленина', N'25', N'3', 2, N'Res/i.jpg', CAST(N'2025-05-01' AS Date))
INSERT [dbo].[Абоненты] ([ID_абонента], [Фамилия], [Имя], [Отчество], [Вид_телефона], [Номер_телефона], [Межгород], [Льгота], [Индекс_дома], [Район], [Улица], [Дом], [Квартира], [ID_ATS], [Logo], [End_contract]) VALUES (3, N'Сидоров', N'Алексей', N'Дмитриевич', N'Основной', N'+79234567890', N'Закрыт', N'Нет', N'111222', N'Северный', N'Гагарина', N'5', N'15', 3, NULL, CAST(N'2025-05-01' AS Date))
SET IDENTITY_INSERT [dbo].[Абоненты] OFF
GO
INSERT [dbo].[Ведомость_абонентской_платы] ([ID_платы], [ID_абонента], [Месяц], [Год], [Количество_минут_на_городские], [Количество_минут_на_межгород], [Стоимость], [Сумма_льготы]) VALUES (1, 1, N'Январь', 2024, 400, 50, CAST(1200.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)))
INSERT [dbo].[Ведомость_абонентской_платы] ([ID_платы], [ID_абонента], [Месяц], [Год], [Количество_минут_на_городские], [Количество_минут_на_межгород], [Стоимость], [Сумма_льготы]) VALUES (2, 2, N'Январь', 2024, 300, 100, CAST(1500.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Ведомость_абонентской_платы] ([ID_платы], [ID_абонента], [Месяц], [Год], [Количество_минут_на_городские], [Количество_минут_на_межгород], [Стоимость], [Сумма_льготы]) VALUES (3, 3, N'Январь', 2024, 250, 150, CAST(1800.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Ведомость_звонков] ([ID_звонка], [ID_абонента], [Дата_звонка], [Время_начала], [Время_окончания], [Межгород]) VALUES (1, 1, CAST(N'2024-04-01' AS Date), CAST(N'10:15:00' AS Time), CAST(N'10:45:00' AS Time), N'Нет')
INSERT [dbo].[Ведомость_звонков] ([ID_звонка], [ID_абонента], [Дата_звонка], [Время_начала], [Время_окончания], [Межгород]) VALUES (2, 2, CAST(N'2024-04-01' AS Date), CAST(N'11:30:00' AS Time), CAST(N'12:00:00' AS Time), N'Да')
INSERT [dbo].[Ведомость_звонков] ([ID_звонка], [ID_абонента], [Дата_звонка], [Время_начала], [Время_окончания], [Межгород]) VALUES (3, 3, CAST(N'2024-04-02' AS Date), CAST(N'14:00:00' AS Time), CAST(N'14:30:00' AS Time), N'Нет')
GO
INSERT [dbo].[Прайс_АТС] ([ID_прайса], [ID_ATS], [Цена_на_городские], [Цена_на_межгород]) VALUES (1, 1, CAST(2.50 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)))
INSERT [dbo].[Прайс_АТС] ([ID_прайса], [ID_ATS], [Цена_на_городские], [Цена_на_межгород]) VALUES (2, 2, CAST(3.00 AS Decimal(10, 2)), CAST(6.00 AS Decimal(10, 2)))
INSERT [dbo].[Прайс_АТС] ([ID_прайса], [ID_ATS], [Цена_на_городские], [Цена_на_межгород]) VALUES (3, 3, CAST(2.80 AS Decimal(10, 2)), CAST(5.50 AS Decimal(10, 2)))
GO
ALTER TABLE [dbo].[Абоненты]  WITH CHECK ADD  CONSTRAINT [FK__Абоненты__ID_ATS__2C3393D0] FOREIGN KEY([ID_ATS])
REFERENCES [dbo].[ATS] ([ID_ATS])
GO
ALTER TABLE [dbo].[Абоненты] CHECK CONSTRAINT [FK__Абоненты__ID_ATS__2C3393D0]
GO
ALTER TABLE [dbo].[Ведомость_абонентской_платы]  WITH CHECK ADD  CONSTRAINT [FK__Ведомость__ID_аб__2D27B809] FOREIGN KEY([ID_абонента])
REFERENCES [dbo].[Абоненты] ([ID_абонента])
GO
ALTER TABLE [dbo].[Ведомость_абонентской_платы] CHECK CONSTRAINT [FK__Ведомость__ID_аб__2D27B809]
GO
ALTER TABLE [dbo].[Ведомость_звонков]  WITH CHECK ADD  CONSTRAINT [FK__Ведомость__ID_аб__2E1BDC42] FOREIGN KEY([ID_абонента])
REFERENCES [dbo].[Абоненты] ([ID_абонента])
GO
ALTER TABLE [dbo].[Ведомость_звонков] CHECK CONSTRAINT [FK__Ведомость__ID_аб__2E1BDC42]
GO
ALTER TABLE [dbo].[Прайс_АТС]  WITH CHECK ADD FOREIGN KEY([ID_ATS])
REFERENCES [dbo].[ATS] ([ID_ATS])
GO
USE [master]
GO
